<%- include('_header'); -%>

<!-- The sidebar -->
<link rel="stylesheet" href="/css/menu_sidebar.css">
<div class="sidebar">
<h2>Menu</h2>
  <a href="/pizzas">Pizzas</a>
  <a href="/side_order">Side Orders</a>
  <a href="/drinks">Drinks</a>
</div>

<!-- Page content -->
<div class="content">
<% sideOrders.forEach(function(sideOrder) { %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3><%= sideOrder.name %></h3>
			<img src="/images/<%= sideOrder.name %>.jpg" alt=<%= sideOrder.name %> style="width:200px;height:200px;">
			<br>Price: €<%= sideOrder.price.toFixed(2) %>
		<div class="clearfix">
			<a href="/cart/<%= sideOrder._id%>" class="btn btn-success pull-left" role="Button">Add to Cart</a>
		</div>			
		</div>
	</div>
<% }) %>
</div>

<%- include('_footer'); -%>